<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/login.css" />
    <link rel="shortcut icon" href="../img/icon.avif" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <title>TopiaLand | Login</title>
  </head>
  <body>
    <header class="header">
      <a class="back-home-button" href="../home.html"
        ><i class="ri-arrow-left-line"></i>Back to Home</a
      >
    </header>
    <main class="container">
      <img src="../img/logo.png" alt="" class="logo" />
      <h4 class="title">Login to Topialand</h4>
      <div class="inputs">
        <div class="input-box">
          <input type="text" id="email" required />
          <label for="email"><i class="ri-mail-fill"></i>Email</label>
        </div>
        <div class="input-box">
          <input type="password" id="password" required />
          <label for="password"><i class="ri-lock-2-fill"></i>Password</label>
        </div>
        <a href="#" class="forget">Forget Password ?!</a>
        <button class="signin-button">Sign In</button>
        <a href="#" class="create-account">Create account</a>
      </div>
     
    </main>
    <div class="description-img">
      <div class="img">
        <img src="../img/infoPhoto.webp" alt="" />
      </div>
    </div>
    <footer class="footer">
      <img src="../img/logo.png" />
      <div class="service-link-container">
        <span>Service :</span>
        <a href="#">Contact Information</a>
        <a href="#">Shipping policy</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of service</a>
      </div>
      <span class="line"></span>
      <div class="shop-link-container">
        <span>Shop :</span>
        <a href="#">Shop All</a>
        <a href="#">Shop Miaplays</a>
        <a href="#">Shop Kouman</a>
        <a href="#">Accessories</a>
        <a href="#">Snacks</a>
      </div>
      <div class="social-media">
        <a href="#"><i class="ri-youtube-fill"></i></a>
        <a href="#"><i class="ri-instagram-fill"></i></a>
        <a href="#"><i class="ri-tiktok-fill"></i></a>
        <a href="#"><i class="ri-twitter-x-fill"></i></a>
      </div>
    </footer>
  </body>
</html>
