@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  scroll-behavior: smooth;
}
:root {
  --main-black: #232323;
  --main-color: #efe5d2;
  --secound-color: #f2ebe5;
  --main-green-color: #364f31;
  --main-yellow-color: #ed8e0a;
  --main-red-color: #bd0000;
}
body {
  width: 100%;
  height: 100%;
  background: url(../img/flowerLight.png);
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  /* color: var(--main-green-color);
  font-weight: 500; */
}
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 0 100px;
  margin-top: 20px;
}

.first-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.logo {
  width: 18rem;
}
.search-box-exchange {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.search-box label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-green-color);
  border-radius: 15px;
  padding: 0 10px;
}
.search-box input {
  width: 220px;
  height: 45px;
  background-color: transparent;
  padding: 0 5px;
  border: none;
  outline: none;
  color: var(--main-color);
  &::placeholder {
    color: var(--main-color);
  }
}
.search-box .search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 5px;
  color: var(--main-color);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  i {
    font-size: 1.5rem;
  }
}

.custom-select {
  position: relative;
  width: 250px;
}
.country-select {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  color: #333;
  appearance: none;
  cursor: pointer;
  color: var(--main-green-color);
  font-weight: 600;
}

.country-select option {
  background-color: var(--main-color);
  color: var(--main-black);
  font-size: 16px;
  outline: none;
  border: none;
}
.country-select option:checked {
  background-color: var(--main-green-color);
  color: #fff;
}
.country-select option:hover {
  background-color: var(--secound-color);
}
.country-select::-webkit-scrollbar {
  width: 0.5rem;
}

.country-select::-webkit-scrollbar-track {
  background: var(--main-color);
  border-radius: 50px;
}

.country-select::-webkit-scrollbar-thumb {
  background-color: var(--main-green-color);
  border-radius: 50px;
}

.country-select::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-green-color);
}

.header-logo {
  width: fit-content;
}

.alert-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 4px solid var(--main-red-color);
  background-color: var(--main-color);
  border-radius: 20px;
  width: 100%;
  height: 70px;
  margin-top: 15px;
  transition: all 0.3s ease-in-out;
  /* overflow: hidden; Ensure that content does not overflow */
  padding: 0 30px;
}
.alert-message {
  font-size: 1.5rem;
  color: var(--main-red-color);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.perv-message,
.next-message {
  padding: 0.5rem 1rem;
  color: var(--main-red-color);
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: var(--main-green-color);
  }
  i {
    font-size: 2rem;
  }
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0 30px;
  background-color: var(--main-green-color);
  font-weight: 500;
  border-radius: 50px;
  margin-top: 20px;
}
.nav-bar ul {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

.nav-bar ul li a {
  color: var(--main-color);
  padding: 0.5rem 1.6rem;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  font-size: 1.3rem;
  &:hover {
    text-decoration: underline;
  }
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
.nav-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: var(--main-color);
  border-radius: 50px;
  transition: all 0.2s;
}
.nav-button a i {
  font-size: 1.4rem;
  color: var(--main-green-color);
  transition: all 0.2s ease-in-out;
}
.nav-button a:hover {
  background-color: var(--secound-color);
}
.description-img {
  width: 100%;
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.description-img .img {
  background-color: var(--main-green-color);
  width: 100%;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.description-img .img img {
  width: 100%;
  background-color: var(--main-green-color);
  border: 15px solid rgba(255, 255, 255, 0.608);
  border-radius: 30px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: var(--main-yellow-color);
  margin-top: 60px;
  gap: 10px;
  img {
    width: 15rem;
  }
  .line {
    background-color: var(--main-green-color);
    width: 50%;
    height: 2px;
    border-radius: 50px;
  }
  a {
    color: var(--main-green-color);
  }
}
.shop-link-container,
.service-link-container {
  margin-top: 1.3rem;
  span {
    font-weight: 500;
  }
}

.shop-link-container a,
.service-link-container a {
  padding: 5px 20px;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: var(--main-black);
    text-decoration: underline;
  }
}
.social-media {
  display: flex;
  gap: 18px;
  margin-top: 1rem;
}
.social-media a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid var(--main-green-color);
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  i {
    font-size: 1.5rem;
  }
  &:hover {
    background-color: var(--main-green-color);
    color: var(--main-color);
  }
}
